body{
	padding: 0;
	margin: 0;
	background-image: url(../images/wallpaper.jpg); 
	
}
.wraper{

	border: 2px dashed grey;

	

}
h1, h3{
	text-align: center;
	font-family: 'Lobster', cursive;
	
}
p, span{
	font-family: 'Gloria Hallelujah', cursive;
	font-weight: bold;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.left{
	
	
	border: 2px dashed grey;
}
.right{
	
	
	border: 2px dashed grey;  
	text-align: center;
	
}
#lose, #wins{
	font-size: 2em;
	font-weight: bold;
	color: red;
}
#winScore, #chosenDog {
	font-size: 3em;
	font-weight: bold;
	color: red;
}
#loseScore {
	font-size: 2em;
}


